{% extends "menu/menu_base.html" %}

{% block head_block %}
<title>Menu Details</title>
{% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>{{menu_detail.nazwa}}</h1>
  <h2>Menu:</h2>
  {% for danie in menu_detail.karta.all %}
    <p>Nazwa: {{danie.nazwa}}</p>
    <p>Opis: {{danie.opis}}</p>
    <p>Cena: {{danie.cena}}zl</p>
    <p>Czas przygotowania: {{danie.czas_przygotowania}}min</p>
    <p>Data dodania: {{danie.data_dodania}}</p>
    <p>Data aktualizacji: {{danie.data_aktualizacji}}</p>
    <p>Danie wegetarianskie: {{danie.danie_wegetarianskie}}</p>
    {% if danie.foto %}
    <img src='{{ danie.foto.url }}' class='img-responsive'>
    {% endif %}
    <br></br>
 {% endfor %}
</div>
{% endblock %}
