{% extends "menu/menu_base.html" %}

{% block head_block %}
<title>Menu Details</title>
{% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>{{menu_detail.name}}</h1>
  <h2>Menu:</h2>
  {% for dish in menu_detail.emenu.all %}
    <p>Nazwa: {{dish.name}}</p>
    <p>Opis: {{dish.description}}</p>
    <p>Cena: {{dish.price}}zl</p>
    <p>Czas przygotowania: {{dish.preparation_time}}min</p>
    <p>Data dodania: {{dish.added_date}}</p>
    <p>Data aktualizacji: {{dish.update_date}}</p>
    <p>Danie wegetarianskie: {% if dish.vegetarian %}tak{% else %}nie{% endif %}
    {% if dish.foto %}<img src='{{ dish.foto.url }}' class='img-responsive'>{% endif %}

    <br></br>
 {% endfor %}
</div>
{% endblock %}
